# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/shezawxpqzsippbdxfkr
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoZXphd3hwcXpzaXBwYmR4ZmtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MTIyOTIsImV4cCI6MjA5NzE4ODI5Mn0.1D6pTI5JGFbfIhJ2po-M9mGemoe14atx_8qijh7uuCg
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Auth.js
AUTH_SECRET=generate-with-npx-auth-secret
AUTH_URL=http://localhost:3000
